body{
  background-image: url(https://content-eu.drive.amazonaws.com/cdproxy/templink/IqUvB5YDwkNU-ATnNgPiVbDPv3nCf3L1AUdmHgOgOKMpX92IB?viewBox=1920);
}
#nombre{
  font-family: 'Macondo', cursive;
  text-align: center;
  font-size:65px;
}
.titulo{
  font-family: 'Macondo', cursive;
  text-decoration: underline;
  }

.pasado{
    /*position:relative;
  top:100px;
  left: 200px;
  width:300px;
  heigth:700px;*/
  float:left;
  width:20%;
}
.centro{
  /*position:relative;
  left:400px;*/
  float:left;
  width: 50%;

}

.presente{
/*  position:relative;
  left:1000px;
  top: -15%
  width:300px;
  heigth:100px;*/
  vertical-align: text-top;
  float:right;
  width:25%
}
#yo{
  width:300px;
}
.parrafo{
  font-family: sans-serif;
  font-weight: lighter;
  width:300px;

}

.foot{
  clear:both;
  width:40%;

}
ul{
  list-style-type: lower-greek;
}

a{
  text-decoration: none;
}
footer{
  background-color: grey;
  font-size: 11px;
  text-align: center;
}
table{
  opacity: 0.05
}
#troll{
  width:15px;
}
